body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
}

body canvas{
    border: 5px solid hotpink;
    border-radius: 10px;

    /* opacity: 70%; */
    z-index: 10;
}

img{
    position: absolute;

    /* opacity: 50%; */
}